* {
    margin: 0;
    padding: 0;
}
body{
    margin-top:55px;
}

<<<<<<< HEAD


=======
>>>>>>> 286257146e88f3ea86e26d5d1bc13ec61ba7ddc9
.btn-azul{
    color:#FFFFFF;
    background: #5A6996;
}

.btn-azul:hover{
    color:#FFFFFF;
    background: #5A6996;
}

header img{
    width: 100%;
}
footer img{
    width:100%;
}

textarea{
    resize:none;
}